<a routerLink="program-tracing">test</a>
<div style="display: inline-block; width: 50%">
  <table>
    <tbody>
    <tr>
      <td>
        <bcomp-reg [name]="reg.AC" [value]="getValue(reg.AC)" [left]="false"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.BR" [value]="getValue(reg.BR)" [left]="false"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.PS" [value]="getValue(reg.PS)" [left]="false"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.IR" [value]="getValue(reg.IR)" [left]="false"></bcomp-reg><br/>
      </td>
      <td>
        <bcomp-reg [name]="reg.DR" [value]="getValue(reg.DR)"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.CR" [value]="getValue(reg.CR)"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.IP" [value]="getValue(reg.IP)" width="11"></bcomp-reg><br/>
        <bcomp-reg [name]="reg.SP" [value]="getValue(reg.SP)" width="11"></bcomp-reg><br/>
      </td>
    </tr>
    <tr>
      <td><bcomp-reg [name]="reg.IR" [value]="getValue(reg.IR)" [left]="false"></bcomp-reg></td>
      <td><bcomp-reg [name]="reg.AR" [value]="getValue(reg.AR)" width="11"></bcomp-reg></td>
    </tr>
    <tr>
      <td><bcomp-running-cycle></bcomp-running-cycle></td>
      <td><bcomp-memory-view></bcomp-memory-view></td>
    </tr>
    </tbody>
  </table>
</div>
<div style="display: inline-block; width: 50%"> <!-- TODO delete -->
  <pre id="console"></pre>
  <input type="text" id="console-input"/>
</div>
