<table>
  <tbody>
    <tr>
      <td>
        <bcomp-reg name="AC" width="16"></bcomp-reg><br/>
        <bcomp-reg name="BR" width="16"></bcomp-reg><br/>
        <bcomp-reg name="PS" width="16"></bcomp-reg><br/>
        <bcomp-reg name="IR" width="16"></bcomp-reg><br/>
      </td>
      <td>
        <bcomp-reg name="DR" width="16"></bcomp-reg><br/>
        <bcomp-reg name="CR" width="16"></bcomp-reg><br/>
        <bcomp-reg name="IP" width="11"></bcomp-reg><br/>
        <bcomp-reg name="SP" width="11"></bcomp-reg><br/>
      </td>
    </tr>
    <tr>
      <td><bcomp-reg name="IR" width="16"></bcomp-reg></td>
      <td><bcomp-reg name="AR" width="11"></bcomp-reg></td>
    </tr>
  </tbody>
</table>
<bcomp-running-cycle></bcomp-running-cycle>
