@import "../../../../src/common";

input, button {
  background-color: $value-color-bg;
  color: $value-color;
  border-radius: 0;
  border: $border $value-color;
  margin: 0;
  padding: 0 0.2em;
  height: 1.6rem;
  line-height: 1.6rem;
  &:disabled {
    visibility: hidden;
  }

}

input[type='checkbox'] {
  position: relative;
  top: 0.2em;
  height: 1em;
}

div {
  font-family: $font;
  text-align: center;
  &.trace-table {
    overflow-x: auto;
  }
}

td, th {
  border: $border $value-color ;
  background-color: $value-color-bg;
  font-family: $font;
  white-space: nowrap;
}

th {
  background-color: $title-color-bg;
}

td {
  height: 1.6rem;
  padding: 0;
  text-align: center;
  input, button {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    border: none;
  }
  input {
    text-transform: uppercase;
    text-align: center;
    }
  &.invalid  {
    border-color:  #ff0523
  }

  &.valid  {
    border-color:  #00bd00
  }
  button {
     cursor: pointer;
   }
}

table {
  padding: 0 3px;
  text-align: center;
  margin: auto;
}

.addr-col {
  width: 2.5em;
  min-width: 2.5em;
}

.data-col {
  width: 3.5em;
  min-width: 3.5em;
}
