@import "../../../../../src/common";

$padding: 0.4rem;

.bcomp-running-cycle {
  .header {
    background-color: $title-color-bg;
    color: $title-color;
    text-align: center;
    border-bottom: $border;
  }
  .body {
    margin: 0;
    background-color: $value-color-bg;
    color: $value-color;
    li {
      list-style: none;
      text-align: center;
      color: black;
      &.active {
        color: red;
      }
    }
  }
  .header, .body {
    padding: $padding;
  }
  display: inline-block;
  border: $border;
  font-family: $font;
}
