

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
  src: url("../fonts/Roboto-Regular.ttf");
}

.invalid {
  border-color: red;
}
.valid {
  border-color: green;
}

td, th {
  border: thin solid black ;
  background-color: rgb(219, 249, 235);
  font-family: Roboto, monospace;
}
th {
  background-color: rgb(157,189,165);
}
td > input, td {
  vertical-align: center;
  text-align: center;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.instr {
  min-width: 100px;
}

td > input {
  text-transform: uppercase;
}

input:disabled {
  background-color: rgb(200, 221, 242);
}

input, button {
  background-color: rgb(219, 249, 235);
  color: black;
  border-radius: 0;
  border: thin solid rgb(219, 249, 235);
  margin: 0;
  padding: 0;
}

label + input, div > button {
  border: thin solid black;
  padding: 3px;
}

div, table {
  text-align: center;
  margin: auto;
}

button:disabled {
  visibility: hidden;
}

button {
  cursor: pointer;
}

