<div align="center">
  <label>Режим обучения: </label>
  <input type="checkbox" [checked]="learningMode" (change)="learningMode = learningSwitch.checked" #learningSwitch/>
</div>
<br>
<div align="center">
  <label>Вариант: </label>
  <input type="text" (change)="fetchTask(variantInput.value)" (keypress.enter)="fetchTask(variantInput.value)" #variantInput/>
</div>
<br>
<div>
  <label>Текущий вариант: </label>
  <span>{{taskVariant.variant}}</span>
</div>
<br>
<br>
<table>
  <thead>
  <tr>
    <th>Адрес</th>
    <th class="data-col">Команда/данные</th>
    <th>IP</th>
    <th>CR</th>
    <th>AR</th>
    <th>DR</th>
    <th>SP</th>
    <th>BR</th>
    <th>AC</th>
    <th>NZVC</th>
    <th *ngIf="learningMode"></th>
    <th *ngIf="learningMode"></th>
  </tr>
  </thead>
  <tbody #linesContainer>
  <tr *ngFor="let cmd of taskVariant.cmds; let i = index">
    <td>{{cmd[0]}}</td>
    <td>{{cmd[1]}}</td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="IP" maxlength="3" [ngClass]="genRegClass(i, reg.IP)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.IP)" #IP/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="CR" maxlength="4"  [ngClass]="genRegClass(i, reg.CR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.CR)" #CR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="AR" maxlength="3"  [ngClass]="genRegClass(i, reg.AR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.AR)" #AR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="DR" maxlength="4" [ngClass]="genRegClass(i, reg.DR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.DR)" #DR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="SP" maxlength="3" [ngClass]="genRegClass(i, reg.SP)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.SP)" #SP/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="BR" maxlength="4"  [ngClass]="genRegClass(i, reg.BR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.BR)" #BR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="AC" maxlength="4" [ngClass]="genRegClass(i, reg.AC)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.AC)" #AC/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" class="NZVC" maxlength="4" [ngClass]="genRegClass(i, iNZVC)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, iNZVC)" #NZVC/>
    </td>
    <td *ngIf="learningMode"><button (click)="checkLine(i, IP, CR, AR, DR, SP, BR, AC, NZVC)" [disabled]="!isExecutable(i)">Проверить</button></td>
    <td *ngIf="learningMode"><button (click)="showAnswer(i)" [disabled]="!isExecutable(i)">Показать</button></td>
  </tr>
  </tbody>
</table>
<br>
<div>
  <button (click)="checkAll(linesContainer.children)">Проверить всё</button>
</div>
<br>
<div>
  <label>Выполнено правильно: </label>
  <span>{{doneRight}} / {{countAll}} ({{(doneRight/countAll || 0) | percent:".2"}})</span>
  <br>
</div>
<div *ngIf="!learningMode">
  <label>Попытка: </label>
  <span>{{tryCount}}</span>
</div>
