@import "../angular/src/common";

div {

  font-family: $font;
  font-size: 0.9em;

  input[type='checkbox'] {
    position: relative;
    top: 0.2em;
    height: 1em;
  }

  input, button {
    border: $border $value-color;
    padding: 3px;
  }
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}

td, th {
  border: $border $value-color ;
  background-color: $value-color-bg;
  font-family: $font;
}

th {
  background-color: $title-color-bg;
}

td > input, td {
  vertical-align: center;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.data-col {
  min-width: 7em;
}

input, button {
  background-color: $value-color-bg;
  color: $value-color;
  border-radius: 0;
  border: $border $value-color-bg;
  margin: 0;
  padding: 0;
}

td {
  height: auto;
  input, button {
    position: relative;
    line-height: 1.6rem;
    vertical-align: center;
    height: 1.6rem;
  }
}

div, table {
  text-align: center;
  margin: auto;
}

button:disabled {
  visibility: hidden;
}

button {
  cursor: pointer;
}

input[maxlength='3'] {
  width: 2.5em;
}

input[maxlength='4'] {
width: 3.5em;
}


td > input {
  text-transform: uppercase;
}

input:disabled {
  background-color: $color-bg;
  border-color: $color-bg;
}
