<div>
  <label>Режим обучения: <input type="checkbox" [checked]="learningMode" (change)="learningMode = learningSwitch.checked" #learningSwitch/></label>
</div>
<br>
<div>
  <label>Вариант: <input type="text" (change)="fetchTask(variantInput.value)" (keypress.enter)="fetchTask(variantInput.value)" #variantInput/></label>
</div>
<br>
<div>
  <label for="task-variant">Текущий вариант: </label>
  <span id="task-variant">{{taskVariant?.variant || 0}}</span>
</div>
<br>
<br>
<table>
  <thead>
  <tr>
    <th>Адрес</th>
    <th class="data-col">Команда/данные</th>
    <th>IP</th>
    <th>CR</th>
    <th>AR</th>
    <th>DR</th>
    <th>SP</th>
    <th>BR</th>
    <th>AC</th>
    <th>NZVC</th>
    <th *ngIf="learningMode"></th>
    <th *ngIf="learningMode"></th>
  </tr>
  </thead>
  <tbody #linesContainer>
  <tr *ngFor="let cmd of taskVariant?.cmds; let i = index">
    <td>{{cmd[0]}}</td>
    <td>{{cmd[1]}}</td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="IP" maxlength="3" [ngClass]="genRegClass(i, reg.IP)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.IP)" #IP/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="CR" maxlength="4" [ngClass]="genRegClass(i, reg.CR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.CR)" #CR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="AR" maxlength="3" [ngClass]="genRegClass(i, reg.AR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.AR)" #AR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="DR" maxlength="4" [ngClass]="genRegClass(i, reg.DR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.DR)" #DR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="SP" maxlength="3" [ngClass]="genRegClass(i, reg.SP)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.SP)" #SP/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="BR" maxlength="4" [ngClass]="genRegClass(i, reg.BR)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.BR)" #BR/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="AC" maxlength="4" [ngClass]="genRegClass(i, reg.AC)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, reg.AC)" #AC/>
    </td>
    <td>
      <input (keydown)="changeFocus($event, linesContainer)" type="text" title="NZVC" maxlength="4" [ngClass]="genRegClass(i, iNZVC)" [disabled]="!isExecutable(i)" [value]="getAnswer(i, iNZVC)" #NZVC/>
    </td>
    <td *ngIf="learningMode"><button (click)="checkLine(i, IP, CR, AR, DR, SP, BR, AC, NZVC)" [disabled]="!isExecutable(i)">Проверить</button></td>
    <td *ngIf="learningMode"><button (click)="showAnswer(i)" [disabled]="!isExecutable(i)">Показать</button></td>
  </tr>
  </tbody>
</table>
<br>
<div>
  <button (click)="checkAll(linesContainer.children)">Проверить всё</button>
</div>
<br>
<div>
  <label for="completion">Выполнено правильно: </label>
  <span id="completion">{{doneRight}} / {{countAll}} ({{(doneRight/countAll || 0) | percent:".2"}})</span>
</div>
<br>
<div>
  <label for="tryCount">Попытка: </label>
  <span id="tryCount">{{tryCount | number:'.0-3'}}</span>
</div>
<br>
<div>
  <label for="timer">Время: </label>
  <span id="timer">{{formattedTime}}</span>
</div>
