@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
  src: url("../fonts/Roboto-Regular.ttf");
}

.invalid {
  border-color: red;
}
.valid {
  border-color: green;
}

td, th {
  border: thin solid black ;
  background-color: rgb(219, 249, 235);
  font-family: Roboto, monospace;
}
th {
  background-color: rgb(157,189,165);
}
td > input, td {
  vertical-align: center;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.data-col {
  min-width: 7em;
}

td > input, td > button {
  position: relative;
  line-height: 1.8em;
  vertical-align: middle;
}

label{
  font-family: Roboto, monospace;
  font-size: 0.9em;
}

input, button {
  background-color: rgb(219, 249, 235);
  color: black;
  border-radius: 0;
  border: thin solid rgb(219, 249, 235);
  margin: 0;
  padding: 0;
}

div, table {
  text-align: center;
  margin: auto;
}

button:disabled {
  visibility: hidden;
}

button {
  cursor: pointer;
}

input[maxlength='3'] {
  width: 2.5em;
}

input[maxlength='4'] {
width: 3.5em;
}

input[type='checkbox'] {
  position: relative;
  top: 0.2em;
  height: 1em;
}

label > input, div > button {
  border: thin solid black;
  padding: 3px;
}

td > input {
  text-transform: uppercase;
}

input:disabled {
  background-color: rgb(200, 221, 242);
  border-color: rgb(200, 221, 242);
}
