@font-face {
  font-family: Roboto;
  src: url("src/assets/fonts/Roboto-Regular.ttf");
}

$title-color: black;
$title-color-bg: #9dbda5;
$value-color: black;
$value-color-bg: #dbf9eb;
$color-bg: #C8DDF2;
$border: thin solid;
$font: Roboto, monospace;

